* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 1.125rem;
}

.text-green {
  color: #005128;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

p {
  font-size: 0.8125rem;
  line-height: 160%;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

button {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  width: 9.625rem;
  border-radius: 2rem;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-between;
}

.header-bg-mob {
  background: url("images\\FishOil.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;

  position: relative;
}

.introduction-container {
  margin-top: 1.6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.type-block {
  font-size: 0.875rem;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}

.tags-container {
  display: inline-flex;
  flex-direction: column;
}

.tag {
  border: 2px solid #333333;
  margin-bottom: 0.5rem;
  border-radius: 1.5rem;
  width: fit-content;
}

.tag.brain,
.tag.fish {
  padding: 0.4rem 1rem 0.3rem 1rem;
}

.njord-img-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 300px;
}

.product-info-title {
  font-size: 1rem;
  font-family: "Merriweather", serif;
  letter-spacing: 1%;
  margin-top: 1.1rem;
  margin-bottom: 0.9rem;
}

.price {
  font-size: 2rem;
  padding-bottom: 1.125rem;
  padding-top: 0.875rem;
}

.btns-container {
  display: flex;
  flex-direction: row;
}

.btn-test {
  margin-right: 0.5rem;
  background: #de803d;
  color: white;
  font-weight: 700;
}

.btn-test * {
  display: none;
}

.btn-test:hover {
  background: #f56b08;
}

.btn-add-to-cart {
  background: #bfe5c2;
  font-weight: 700;
}
.btn-add-to-cart:hover {
  background: #99f1a1;
}

.carousel-container {
  overflow-x: hidden;
  margin-top: 2.3125rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.track {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
}

.carousel-item {
  padding-right: 0.5rem;
}

.specs-wrapper {
  border: 1px solid #666666;
  border-radius: 0.5rem;
  width: 9rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.125rem;
}

.icon-wrapper {
  padding-top: 1.25rem;
}

.specs-wrapper .text-green {
  padding-bottom: 1rem;
}

.specs-wrapper p {
  color: #777777;
}

/*.track {
  transition: transform 0.25s ease-in;
}*/

@media screen and (min-width: 768px) {
  .header {
    height: 80vh;
    position: relative;
    justify-content: flex-end;
    padding-bottom: 4rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .header-bg-desk {
    background: url("images\\FishOil.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header-bg-mob {
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .njord-img-wrapper {
    max-width: 500px;
  }

  .introduction-container {
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    width: 250px;
  }

  .carousel-container {
    margin-left: 3rem;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  .tag {
    font-size: 0.8rem;
  }

  .tag.brain {
    padding: 0.4rem 2rem 0.3rem 2rem;
  }

  .introduction-container p {
    font-size: 0.875rem;
  }

  .njord-img-wrapper {
    width: 45%;
    max-width: 750px;
  }

  .type-block {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .tags-container {
    flex-direction: row;
  }

  .tags-container > p:first-child {
    margin-right: 0.5rem;
  }

  .introduction-container {
    max-width: 500px;
    width: 38%;
  }

  button {
    width: 100%;
  }

  .btn-test * {
    display: inline-block;
  }

  .btn-test,
  .btn-add-to-cart {
    font-weight: 500;
    font-size: 1rem;
  }

  .price {
    padding-bottom: 1.5rem;
  }

  .carousel-item {
    padding-right: 0.9rem;
  }
}
